flask==3.1.0
requests==2.32.3
astroquery==0.4.9
gwpy==3.0.12
healpy==1.18.0
pandas==2.2.3
kaggle==1.6.17
tensorflow==2.18.0
scikit-learn==1.6.1
numpy==1.26.0
matplotlib==3.10.0
gunicorn==23.0.0
Flask-SQLAlchemy==3.1.1
